@charset "utf-8";
/* CSS Document */

* {
    box-sizing: border-box;
  }

html {
	background-color:#000000;
}

.banner {
	display: flex;
    align-items: flex-start;
    width: min(100%, 960px);
    margin:auto;
}

.container {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-gap: 10px;
    justify-items: stretch;
    align-items: stretch;

	width: min(100%, 960px);
    margin-inline: auto;
    margin-top: 20px;
}

.container > * {
    border: 0px solid #f0f;
}

.game {
    grid-column: 1 / 2;
    grid-row: 1 / span 3;
}

canvas {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;

    border: 6px groove #00FF01;
    border-radius: 2rem;
    image-rendering: pixelated;
}

.button-start {
    grid-column: 2 / 3;
    grid-row: 1 / span 2;
}

.button-music {
    display: none;
    grid-column: 2 / 3;
    grid-row: 2 / span 1;
}

button {
    background-color: #00FF01; /*  evtll. button image background-image: url("./Bilder/start.png"); */
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 50%;
    width: 100%;
    aspect-ratio: 1 / 1;
    
    cursor: pointer;
    box-shadow: 2px 3px rgb(0, 65, 16);
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", Helvetica, Arial, "sans-serif"; /*später gerne "Press Start 2P" font; https://fonts.google.com/specimen/Press+Start+2P*/
    font-weight: bold;
}

button:hover {background-color: #003f13
}

button:active {
    background-color: #fd0a0a;
    box-shadow: 3px 1px rgb(167, 167, 167);
    transform: translateY(4px);
}

.score {
    grid-column: 2 / 3;
    grid-row-start: 3;
    text-align: center;
    width: 100%;
    border: 6px groove #00FF01;
    border-radius: 2rem;
    background-color:#2550a1;
}

h2 {
    font-size: 20px;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", Helvetica, Arial, "sans-serif";   /*später gerne "Press Start 2P" font; https://fonts.google.com/specimen/Press+Start+2P*/
}

.lives {
	display: flex;
    align-items: flex-start;
    width: min(100%, 960px);
    margin:auto;
}